name: Ejecutar Scraping Manual

on:
  workflow_dispatch: 

jobs:
  run-scraper:
    # Forzamos 22.04 que es la versi칩n m치s estable para Playwright
    runs-on: ubuntu-22.04 
    
    steps:
      - name: Descargar c칩digo del repo
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependencias de Python
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install playwright pandas

      - name: Instalar Navegador y Dependencias de Sistema
        run: |
          # Instalamos las dependencias de sistema necesarias para Chromium
          pip install playwright
          sudo playwright install-deps chromium
          playwright install chromium

      - name: Ejecutar el script de scraping
        run: python main.py 

      - name: Guardar cambios (CSV/Excel)
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git pull origin main --rebase
          git add .
          git commit -m "Actualizaci칩n de datos manual" || exit 0
          git push