name: Ejecutar Scraping Manual

on:
  workflow_dispatch: # Esto mantiene el bot칩n para ejecutarlo manualmente

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar c칩digo del repo
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Instalar navegadores de Playwright
        run: playwright install chromium --with-deps

      - name: Ejecutar el script de scraping
        # Es fundamental poner "python" antes del nombre del archivo
        run: python main.py 

      - name: Guardar cambios (CSV/Excel)
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          # El pull es buena pr치ctica para evitar conflictos de versiones
          git pull origin main 
          git add .
          git commit -m "Actualizaci칩n de datos manual" || exit 0
          git push