name: Ejecutar Scraping Manual

on:
  workflow_dispatch: 

jobs:
  run-scraper:
    # Forzamos 22.04 que es la versión más estable para Playwright
    runs-on: ubuntu-22.04 
    strategy:
      fail-fast: false
      max-parallel: 15
      matrix:
        country: [
          "Chile","Perú","Colombia", "Brasil","Argentina", "México", "Estados Unidos", "Turquía", "Reino Unido",
          # --- América y Caribe ---
          "Canadá", "Bahamas", "Barbados", "Belice", "Granada", "Guyana", "Jamaica", 
          "San Cristóbal y Nieves", "Santa Lucía", "San Vicente y las Granadinas", 
          "Surinam", "Trinidad y Tobago", "Antigua y Barbuda", "Dominica",
          # --- Europa ---
          "Albania", "Andorra", "Armenia", "Azerbaiyán", "Bielorrusia", 
          "Bosnia y Herzegovina", "Bulgaria", "Chipre", "Croacia", "Dinamarca", 
          "Eslovaquia", "Eslovenia", "Estonia", "Finlandia", "Georgia", "Hungría", 
          "Irlanda", "Islandia", "Kazajistán", "Letonia", "Liechtenstein", 
          "Lituania", "Luxemburgo", "Macedonia del Norte", "Malta", "Moldavia", 
          "Mónaco", "Montenegro", "Noruega", "Polonia", "República Checa", 
          "Rumanía", "Rusia", "San Marino", "Serbia", "Suecia", "Suiza", "Ucrania",
          # --- África ---
          "Angola", "Argelia", "Benín", "Botsuana", "Burkina Faso", "Burundi", 
          "Cabo Verde", "Camerún", "Chad", "Comoras", "Costa de Marfil", "Egipto", 
          "Eritrea", "Etiopía", "Gabón", "Gambia", "Ghana", "Guinea", "Guinea-Bisáu", 
          "Guinea Ecuatorial", "Kenia", "Lesoto", "Liberia", "Libia", "Madagascar", 
          "Malaui", "Malí", "Marruecos", "Mauricio", "Mauritania", "Mozambique", 
          "Namibia", "Níger", "Nigeria", "República Centroafricana", "República del Congo", 
          "República Democrática del Congo", "Ruanda", "Santo Tomé y Príncipe", 
          "Senegal", "Seychelles", "Sierra Leona", "Somalia", "Suazilandia", 
          "Sudáfrica", "Sudán", "Sudán del Sur", "Tanzania", "Togo", "Túnez", 
          "Uganda", "Yibuti", "Zambia", "Zimbabue",
          # --- Asia y Medio Oriente ---
          "Afganistán", "Arabia Saudita", "Baréin", "Bangladés", "Brunéi", "Bután", 
          "Camboya", "Catar", "Corea del Sur", "Emiratos Árabes Unidos", "Filipinas", 
          "India", "Indonesia", "Irak", "Irán", "Israel", "Jordania", "Kirguistán", 
          "Kuwait", "Laos", "Líbano", "Malasia", "Maldivas", "Mongolia", "Myanmar", 
          "Nepal", "Omán", "Pakistán", "Palestina", "Singapur", "Siria", "Sri Lanka", 
          "Tayikistán", "Timor Oriental", "Turkmenistán", "Uzbekistán", "Vietnam", "Yemen",
          # --- Oceanía ---
          "Fiyi", "Islas Marshall", "Islas Salomón", "Kiribati", "Micronesia", "Nauru", 
          "Nueva Zelanda", "Palaos", "Papúa Nueva Guinea", "Samoa", "Tonga", "Tuvalu", 
          "Vanuatu", "Polinesia Francesa"
        ]

    steps:
      - name: Descargar código del repo
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependencias de Python
        run: |
          python -m pip install --upgrade pip
          pip install playwright pandas
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Instalar Navegador y Dependencias de Sistema
        run: |
          # Usar 'python -m' asegura que encuentre Playwright donde se instaló
          python -m playwright install chromium --with-deps

      - name: Ejecutar el script por país
        # Le pasamos el nombre del país de la matriz como argumento
        run: python main_operadores.py "${{ matrix.country }}"

      - name: Guardar cambios (Archivo individual por país)
        if: always()
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git pull origin main --rebase
          git add data/
          git commit -m "Datos actualizados: ${{ matrix.country }}" || exit 0
          git push